<section>
  <div>
    <h3>{{'Outgoing File Approval' | translate}}</h3>
  </div>
  <a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 流程图</a>
  <table class="table table-bordered table-condensed table-hover">
    <tr>
      <th>{{'Process Id' | translate}} </th>
      <th>{{'Status' | translate}}</th>
      <th>{{'Created By' | translate}}</th>
      <th>{{'Start Time' | translate}}</th>
      <th>{{'Ongoing Tasks' | translate}}</th>
      <th>{{'Processed By' | translate}}</th>
      <th>{{'History Trace' | translate}}</th>
    </tr>
    <tr ng-repeat="pogfapproval in vm.pogfapprovals">
      <td><a ui-sref="pogfapprovals.edit({ pogfapprovalId: pogfapproval.processId })"><span ng-bind="pogfapproval.processId"></span></a> 
      
      
      
      </td>
      <td><span ng-bind="pogfapproval.properties.status"></span></td>
      <td><span ng-bind="pogfapproval.properties.createdBy"></span></td>
      <td><span ng-bind="pogfapproval.startTime"></span></td>
      <td><span ng-bind="pogfapproval.ongoingTasks"></span></td>
      <td><span ng-bind="pogfapproval.processedBy"></span></td>
      <td>
        <span ng-repeat="flow in pogfapproval.historyTraceArr track by $index">
            {{pogfapproval.historyTraceArr[$index]}}
            <span ng-if="!$last"><i class="glyphicon glyphicon-arrow-right"></i></span>
        </span>
      </td>
      
    </tr>
  </table>
  <div class="alert alert-warning text-center" ng-if="vm.pogfapprovals.$resolved && !vm.pogfapprovals.length">
    No Pogfapprovals yet, why don't you <a ui-sref="pogfapprovals.create">create one</a>?
  </div>
  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">流程图</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="/workflow_diagram/pogfapproval.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</section>
