<section>
<div class="list-group">
  <a href="#">
    <h4 class="list-group-item">
    	{{'Outgoing_File_Approval' | translate }}
    </h4>
    <p class="list-group-item-text">
    	<a class="btn btn-primary" ui-sref="pogfapprovals.create">{{'Create' | translate}}
      	</a>
        <a class="btn btn-primary" ui-sref="pogfapprovals.list">{{'To_Do' | translate}}
      	</a>
        <a class="btn btn-primary" ui-sref="pogfapprovals.taskdone">{{'Task_Done' | translate}}
        </a>
    </p>
  </a>
  
</div>
</section>
