<section>
  <div class="page-header">
    <h1>Uploadfiles</h1>
  </div>
  
  <div class="list-group">
    <li ng-repeat="uploadfile in vm.uploadfiles"
      class="list-group-item">
        <a href="/api/uploadfiles/{{uploadfile._id}}?get=download" download="{{uploadfile.fileOriginalName}}" target="_self" ng-bind="uploadfile.fileOriginalName" role="button">{{uploadfile.fileOriginalName}}
        </a>
        {{uploadfile.fileOriginalName}}
    </li>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.uploadfiles.$resolved && !vm.uploadfiles.length">
    No Uploadfiles yet, why don't you <a ui-sref="uploadfiles.create">create one</a>?
  </div>
</section>
